<!-- nav -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/products">Products</a>
      <a class="nav-item nav-link" routerLink="/employee">Employees</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!-- <form class="form-inline">
      <mat-form-field>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->
  </div>
</nav>

<!-- main app container -->
<div>

</div>
<div [hidden]="!alertStatus">
  <app-alert></app-alert>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-0">

        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
