<form [formGroup]="employeeForm" class="normal-form" #formDir="ngForm">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <input type="hidden" formControlName="$key">
        <!-- Full Name -->
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full Name*">
          <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="setName()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="(service.form.touched||service.form.dirty)">This field is mandatory</mat-error>
        </mat-form-field>
        <!-- Email -->
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="setEmail()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <!-- Mobile Phone Number -->
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile Phone*">
          <button mat-button *ngIf="mobile.value" matSuffix mat-icon-button aria-label="Clear" (click)="setMobile()">
            <mat-icon>close</mat-icon>
          </button>

          <mat-error *ngIf="mobile.errors?.required && (service.form.touched||service.form.dirty)">Mobile number is
            required</mat-error>
          <mat-error *ngIf="mobile.errors?.minlength && (service.form.touched||service.form.dirty)">Mobile number min.
            length is 10</mat-error>
          <mat-error *ngIf="mobile.errors?.pattern && (service.form.touched||service.form.dirty)">Number is required
          </mat-error>

        </mat-form-field>
        <!-- City -->
        <mat-form-field>
          <input formControlName="city" matInput placeholder="City">
          <button mat-button *ngIf="city.value" matSuffix mat-icon-button aria-label="Clear" (click)="setCity()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <!-- 2nd Grid -->
    <mat-grid-tile>
      <div class="controls-container">
        <!-- Gender selection -->
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- Department selection -->
        <mat-form-field>
          <mat-select formControlName="department" aria-placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let dep of departments">
              <mat-option value="{{dep.id}}">{{dep.name}}</mat-option>
            </ng-container>

          </mat-select>
        </mat-form-field>
        <!-- Hired Date selection -->
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Employee Status -->
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="onSubmitted()"
            [disabled]=employeeForm.invalid>Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>

    </mat-grid-tile>

  </mat-grid-list>
</form>
